<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        const tabs = document.getElementsByClassName('tab');
        tabs[0].classList.add('is-active');
        for(let i = 0; i < tabs.length; i++) {
          tabs[i].addEventListener('click', switchTab, false);
        }

        function switchTab() {
          document.getElementsByClassName('is-active')[0].classList.remove('is-active');
          this.classList.add('is-active');
          document.getElementsByClassName('is-show')[0].classList.remove('is-show');
          const arrayTabs = Array.prototype.slice.call(tabs);
          const index = arrayTabs.indexOf(this);
          document.getElementsByClassName('panel')[index].classList.add('is-show');
        };
      }, false);
    </script>
    <script th:inline="javascript">
      console.log(/*[[${doctors}]]*/);
    </script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
    <style>
      .tab-group{
        display: flex;
        justify-content: center;
      }
      .tab{
        flex-grow: 1;
        padding:5px;
        list-style:none;
        border:solid 1px #CCC;
        text-align:center;
        cursor:pointer;
      }
      .panel-group{
        height:100px;
        border:solid 1px #CCC;
        border-top:none;
        background:#eee;
      }
      .panel{
        display:none;
      }
      .tab.is-active{
        background:#6699FF;
        color:#FFF;
        transition: all 0.2s ease-out;
      }
      .panel.is-show{
        display:block;
      }
      .date{
        display:none;
      }
      .date.is-show{
        display:block;
      }
    </style>
  </head>
  <body>
    <h2 class="text-lg font-medium text-center text-gray-900 dark:text-gray-400 dark:border-gray-700 my-20">Let's book an appointment</h2>
    <div class="tab-panel text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
      <ul class="flex flex-wrap -mb-px">
        <th:block th:each="doctor : ${doctors}">
            <li class="tab" th:classappend="${doctor.uuid}" th:text="${doctor.name}"> </li>
        </th:block>
      </ul>
    </div>

    <div class="panel-group">
      <th:block th:each="schedule : ${schedules}">
        <div class="panel" th:classappend="${schedule.uuid}" th:text="${schedule.time}"></div>
      </th:block>
      <div class="panel tab-A is-show">Please Choose a doctor</div>
      <form action="/book/confirm" method="POST">
        <div class="mt-10">
          <div class="flex items-center justify-between">
            <h2 class="text-sm font-medium text-gray-900">Select a Date & Time</h2>
          </div>
          <fieldset class="mt-4">
            <div class="grid grid-cols-4 gap-4">
              <!-- ring-2 ring-blue-500 -->
              <th:block th:each="schedule : ${schedules}">
                <label class="date group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer peer-checked:bg-green-200">
                  <input type="radio" name="schedule" th:value="${schedule.uuid}" class="sr-only" aria-labelledby="size-choice-0-label">
                  <span th:text="${schedule.time}"></span>
                  <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
                </label>
              </th:block>
              <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-gray-50 text-gray-200 cursor-not-allowed">
                <input type="radio" name="size-choice" value="XXXL" disabled class="sr-only" aria-labelledby="size-choice-7-label">
                <span id="size-choice-7-label">2000/01/01 10:45:00</span>

                <span aria-hidden="true" class="pointer-events-none absolute -inset-px rounded-md border-2 border-gray-200">
                  <svg class="absolute inset-0 h-full w-full stroke-2 text-gray-200" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
                    <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
                  </svg>
                </span>
              </label>
            </div>
          </fieldset>
        </div>

        <button type="submit" class="mt-6 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">book an appointment</button>
      </form>
    </div>

        <!-- <div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:text-gray-400 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px">
              <li class="mr-2">
                  <a href="#" class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Profile</a>
              </li>
              <li class="mr-2">
                  <a href="#" class="inline-block p-4 text-blue-600 rounded-t-lg border-b-2 border-blue-600 active dark:text-blue-500 dark:border-blue-500" aria-current="page">Dashboard</a>
              </li>
              <li class="mr-2">
                  <a href="#" class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Settings</a>
              </li>
              <li class="mr-2">
                  <a href="#" class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Contacts</a>
              </li>
              <li>
                  <a class="inline-block p-4 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500">Disabled</a>
              </li>
          </ul>
        </div> -->
  </body>
</html>
