<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>
  </head>
  <body>
    <!-- <div class="inline-block relative w-64">
      <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
        <option>Really long option that will likely overlap the chevron</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
    <button class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">
      Button
    </button> -->

    <!-- <span th:text="${accounts}"></span>>
    <span th:text="${users}"></span>> -->

    <th:block th:each="user : ${users}">
      <p th:text="${user.first_name}"></p>
    </th:block>

    <form>
      <div class="mt-10">
        <div class="flex items-center justify-between">
          <h2 class="text-sm font-medium text-gray-900">Select a Date & Time</h4>
        </div>

        <fieldset class="mt-4">
          <legend class="sr-only">Choose a Date & Time</legend>
          <div class="grid grid-cols-4 gap-4">

            <th:block th:each="user : ${users}">
              <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
                <input type="radio" name="schedule" th:value="${user.uuid}" class="sr-only" aria-labelledby="size-choice-0-label">
                <span id="size-choice-0-label" th:text="${user.first_name}"></span>
                <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
              </label>
            </th:block>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="XXS" class="sr-only" aria-labelledby="size-choice-0-label">
              <span id="size-choice-0-label">XXS</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="XS" class="sr-only" aria-labelledby="size-choice-1-label">
              <span id="size-choice-1-label">XS</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="S" class="sr-only" aria-labelledby="size-choice-2-label">
              <span id="size-choice-2-label">S</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="M" class="sr-only" aria-labelledby="size-choice-3-label">
              <span id="size-choice-3-label">M</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="L" class="sr-only" aria-labelledby="size-choice-4-label">
              <span id="size-choice-4-label">L</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="XL" class="sr-only" aria-labelledby="size-choice-5-label">
              <span id="size-choice-5-label">XL</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-white shadow-sm text-gray-900 cursor-pointer">
              <input type="radio" name="size-choice" value="XXL" class="sr-only" aria-labelledby="size-choice-6-label">
              <span id="size-choice-6-label">XXL</span>

              <!--
                Active: "border", Not Active: "border-2"
                Checked: "border-indigo-500", Not Checked: "border-transparent"
              -->
              <span class="pointer-events-none absolute -inset-px rounded-md" aria-hidden="true"></span>
            </label>

            <!-- Active: "ring-2 ring-indigo-500" -->
            <label class="group relative border rounded-md py-3 px-4 flex items-center justify-center text-sm font-medium uppercase hover:bg-gray-50 focus:outline-none sm:flex-1 bg-gray-50 text-gray-200 cursor-not-allowed">
              <input type="radio" name="size-choice" value="XXXL" disabled class="sr-only" aria-labelledby="size-choice-7-label">
              <span id="size-choice-7-label">XXXL</span>

              <span aria-hidden="true" class="pointer-events-none absolute -inset-px rounded-md border-2 border-gray-200">
                <svg class="absolute inset-0 h-full w-full stroke-2 text-gray-200" viewBox="0 0 100 100" preserveAspectRatio="none" stroke="currentColor">
                  <line x1="0" y1="100" x2="100" y2="0" vector-effect="non-scaling-stroke" />
                </svg>
              </span>
            </label>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="mt-6 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-8 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">book an appointment</button>
    </form>
  </body>
</html>
