<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
</head>
<body>
  <p th:text="'Hello, ' + ${name} + '!'" />
  <!-- ====== Table Section Start -->
  <section class="bg-white py-20 lg:py-[120px]">
    <div class="container mx-auto">
      <div class="-mx-4 flex flex-wrap">
        <div class="w-full px-4">
          <div class="max-w-full overflow-x-auto">
            <table class="w-full table-auto">
              <thead>
                <tr class="bg-primary text-center">
                  <th
                    class="w-1/6 min-w-[160px] border-l border-transparent py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    TLD
                  </th>
                  <th
                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    Duration
                  </th>
                  <th
                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    Registration
                  </th>
                  <th
                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    Renewal
                  </th>
                  <th
                    class="w-1/6 min-w-[160px] py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    Transfer
                  </th>
                  <th
                    class="w-1/6 min-w-[160px] border-r border-transparent py-4 px-3 text-lg font-semibold text-white lg:py-7 lg:px-4"
                  >
                    Register
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td
                    class="text-dark border-b border-l border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    .com
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    1 Year
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $75.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    $5.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $10.00
                  </td>
                  <td
                    class="text-dark border-b border-r border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    <a
                      href="javascript:void(0)"
                      class="border-primary text-primary hover:bg-primary inline-block rounded border py-2 px-6 hover:text-white"
                    >
                      Sign Up
                    </a>
                  </td>
                </tr>
                <tr>
                  <td
                    class="text-dark border-b border-l border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    .com
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    1 Year
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $75.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    $5.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $10.00
                  </td>
                  <td
                    class="text-dark border-b border-r border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    <a
                      href="javascript:void(0)"
                      class="border-primary text-primary hover:bg-primary inline-block rounded border py-2 px-6 hover:text-white"
                    >
                      Sign Up
                    </a>
                  </td>
                </tr>
                <tr>
                  <td
                    class="text-dark border-b border-l border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    .com
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    1 Year
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $75.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    $5.00
                  </td>
                  <td
                    class="text-dark border-b border-[#E8E8E8] bg-[#F3F6FF] py-5 px-2 text-center text-base font-medium"
                  >
                    $10.00
                  </td>
                  <td
                    class="text-dark border-b border-r border-[#E8E8E8] bg-white py-5 px-2 text-center text-base font-medium"
                  >
                    <a
                      href="javascript:void(0)"
                      class="border-primary text-primary hover:bg-primary inline-block rounded border py-2 px-6 hover:text-white"
                    >
                      Sign Up
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ====== Table Section End -->
</body>
</html>
